// Import Base Styles
@import "base/normalize";
@import "bourbon/bourbon";
@import "neat/neat";

@import "base/base";

// Import Layout Styles
@import "layout/layout";

// Import Module Styles
@import "modules/modules";

// Import State Styles
// @import "states/validation"

html.loading {
  &:after {
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    width: 100%;
  }
}

.spinner {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  z-index: 1000 !important;
}

.site-logo {
  position: relative;
  top: 15px;
}

.site-header {
    border-bottom: 1px solid #ddd;
    font-family: "Abel", "Helvetica", "Arial", sans-serif;
    color: #333;
    margin-top: 50px;
    padding-bottom: 15px;
    a {
      color: #333;
      text-decoration: none;
    }
    > ul {
      margin-top: 40px;
    }
}

.site-switch, .site-nav {
  padding-left: 10px;
  float: right;
}

.site-nav {
  > li {
    display: inline-block;
    font: normal 18px "Abel", "Helvetica", "Arial", sans-serif;
    padding: 5px 0 0 5px;
    margin-right: 5px;
    text-transform: lowercase;
    &:first-child:before {
      content: none;
    }
    &:before {
      content: '/';
      color: tint(#000, 75);
      position: relative;
      left: -5px;
    }
  }

  a.is-active {
    border-bottom: 1px solid #ffe440;
  }
}

.site-switch {
  > li {
    display: inline-block;
    font-size: 18px;
    padding: 0 10px;
    text-transform: uppercase;
  }
}

body.design .site-switch-design,
body.build .site-switch-build {
  @extend .bg-yellow;
  padding: 5px 10px;
}

.site-content {
  margin-top: 30px;
  padding-bottom: 100px;
}

// BUILD THEME
body.build {
  @extend .bg-dark;
  a {
    color: #ffe400;
  }

  footer {
    background: #222;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #e5e5e5;
  }

  .site-nav{
    a {
      color: #e5e5e5;
    }
    li:before {
      color: #e5e5e5;
    }
  }

  .site-switch-build a {
    color: #343434;
  }

  .bg-yellow {
    color: #343434;
  }

  .portfolio-thumb-overlay {
    color: #343434;
  }

  .modal {
    color: #343434;
    h1, h2, h3, h4, h5, h6 {
      color: #343434;
    }
  }
}

.dm-people {
  .neat-col {
    @include span-columns(4);
  }

  .description {
    font-size: 18px;
  }

  h4 {
    background: #ffe400;
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
    text-transform: uppercase;
  }
}

.slicknav_menu {
  background: transparent;
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
  padding: 0;
}

.slicknav_nav {
  background: #343434;
  margin: 0 20px;
  a {
    font-size: 16px;
    margin: 0;
    &:hover {
      background: #ffe400;
      border-radius: 0;
      color: #343434;
      text-decoration: none;
    }
  }
}

.slicknav_btn {
  background: #343434;
  margin: 20px 20px 5px 20px;
}

@media only screen and (max-width : 800px) {
  body {
    padding: 0;
  }

  footer {
    position: relative;
  }

  .site-header {
    border-bottom: 0;
    margin-top: 0;
  }

  .site-content {
    padding: 0 20px;
  }

  #menu {
    display: none;
  }

  .slicknav_menu {
    display: block;
  }

  h1 {
    font-size: 32px;
    margin: 15px 0;
  }

  .carousel-text {
    padding: 20px 40px;
  }

  .modal,
  .modal-dialog,
  .modal-content,
  .modal-body,
  .carousel,
  .carousel-inner,
  .carou {
    height: 100%;
  }

  .modal-dialog {
    padding: 0;
    position: relative;
    .carousel-inner {
      // @include transform(translateY(-50%));
      // position: relative;
      // top: 50%;
    }
  }

  .carousel {
    .item {
      height: 100%;
    }
    .item-image {
      line-height: 0;
      img {
        @include transform(translateY(-50%));
        position: relative;
        top: 50%;
      }
    }
  }

  .modal-header {
    background: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 100;
    width: 100%;
  }

  .modal-header {
    top: 0;
  }

  .modal-footer {
    background: #fff;
  }

  .modal-body {
    padding: 48px 0 0 0;
  }

  /* Styles for tablet */
  .portfolio-thumb {
    @include span-columns(6);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .splash-services {
    display: none;
  }

  .neat-col-left, .neat-col-right {
    @include span-columns(12);
  }

  .dm-people .neat-col {
    @include span-columns(6);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .services {
    .neat-col-left {
      @include span-columns(12);
    }
    .neat-col-right {
      @include span-columns(12);
      margin: 0;
    }
  }

  .content__press {
    .neat-col {
      @include span-columns(12);
      height: 250px;
      margin-right: 0;
    }
    hr {
      display: block;
    }
  }
}

@media only screen and (max-width : 480px) {
  /* Styles for mobile */
  .modal-header {
    .attribution {
      display: none;
    }
  }

  .site-logo img {
    margin-bottom: 20px;
    width: 50px;
  }

  .site-content {
    margin-top: 10px;
    h1 {
      font-size: 30px;
      margin: 5px 0;
    }
  }

  .site-nav {
    margin-top: 10px !important;
    padding: 0;
    li {
      padding: 0;
    }
  }

  .portfolio-thumb {
    @include span-columns(12);
    margin-right: 0;
  }

  .modal-dialog {
    padding-left: 0;
    padding-right: 0;
  }

  .dm-people .neat-col {
    width: 100%;
  }

  .testimonials {
    .neat-col-left {
      @include span-columns(12);
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-size: 72px 72px;
  }
}
