{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH projects #}
{# This page can use any data from http:localhost:2000/cms/#/form/projects/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this projects's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<div class="modal-content">
      <div class="modal-header">
        <span class="attribution pull-left">
          {{item.code}}
        </span>
        <span class="carousel-nav">
          <a class="btn btn-default btn-sm" href="#carousel-{{item.code}}" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> Prev </a>
          <a class="btn btn-default btn-sm" href="#carousel-{{item.code}}" data-slide="next">Next <span class="glyphicon glyphicon-chevron-right"></a>
        </span>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="carousel slide" data-interval='false' id='carousel-{{item.code}}'>
          {% set hasVideos = item.video_embeds.length %}

          <div class="carousel-inner">
            {% if hasVideos %}
              {% for embed in item.video_embeds %}
                <div class="{% if loop.first %}active {% endif %} item item-video video-responsive-object">
                  {{ embed.embed_video.html|safe }}
                </div>
              {% endfor %}
            {% endif %}

            {% for img in item.gallery %}
              <div class='{% if not hasVideos %}{% if loop.first %}active {% endif %}{% endif %} item item-image'>
                <img src="{{img|imageSize(1100)}}"/>
              </div>
            {% endfor %}

            <div class="item">
              <div class="carousel-text">
                <h3>{{item.code}}</h3>
                <h1>{{item.name}}</h1>

                {% macro projectAttr(key, value) %}
                  {% if value %}
                  <p class="project-attribute">
                    <strong>{{key}}</strong>
                    <span>{{value}}</span>
                  </p>
                  {% endif %}
                {% endmacro %}

                {{ projectAttr('Date', item.year) }}

                {{ projectAttr('Location', item.location) }}

                {% if item.categories.length > 0 %}
                <p class="project-attribute">
                  <strong>Category</strong>
                  {% for category in item.categories %}
                  <span>{{category.name}}</span>
                  {% endfor %}
                </p>
                {% endif %}

                {{ projectAttr('Mode', item.mode) }}

                {{ projectAttr('Type', item.type) }}

                {{ projectAttr('Size', item.size) }}

                {{ projectAttr('Design Team', item.design_team) }}

                {{ projectAttr('Team', item.general_team) }}
              </div>
            </div>
          </div>

          <!--
          <a href="#carousel-{{item.code}}" data-slide="prev" class="left carousel-control">
            <span class="icon-prev"></span>
          </a>
          <a href="#carousel-{{item.code}}" data-slide="next" class="right carousel-control">
            <span class="icon-next"></span>
          </a>
          -->
        </div>
      </div>
      <div class="modal-footer">
        <span class="attribution pull-right">
          {{item.location}}
        </span>
        <span class="attribution pull-left">
          {{item.code}} - {{item.name}}
        </span>
      </div>
</div>
{% endblock %}
