{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL projects #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append projects to the site title defined in base.html #}
{% block title %}{% parent %} - projects{% endblock %}

{% block content %}

  {# The first thing we do is call projects data from the CMS. #}
  {% set data = cms.projects %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  <h1>Projects</h1>

  <div class='portfolio clearfix'>
    {% for object in data %}
      {% include 'templates/partials/project-thumb.html' with object only %}
    {% endfor %}
  </div>
{% endblock %}
