.neat-row {
  @include row();
}

.neat-row--six-four2 {
  .neat-col-left {
    @include span-columns(6);
    font-size: 20px;
  }
  .neat-col-right {
    @include shift(2);
    @include span-columns(4);
  }
}

.build_facility, .build_testimonials {
  .neat-row {
    margin-bottom: 20px;
  }
  .neat-col {
    @include span-columns(6);
    &:nth-child(even) {
      @include omega();
    }
  }
  .gutter-sizer {
    width: 2.35765%;
  }
}
