<footer class='bg-dark'>
  <div class='outer-container clearfix'>
    <span class='copyright'>
      <small>&copy; Domaen 2015</small>
    </span>
    <div class='social'>
      <a href='https://www.facebook.com/pages/Domaen/146851778759666'>
        <img alt="Domaen Facebook" class="social-icon facebook" src="/static/images/social/icon_facebook.jpg" />
      </a>
      <a href='http://www.houzz.com/pro/domaen/domn-ltd'>
        <img alt="Domaen Houzz" class="social-icon houzz" src="/static/images/social/icon_houzz.png" />
      </a>
      <a href='http://domaen.tumblr.com'>
        <img alt="Domaen Tumblr" class="social-icon tumblr" src="/static/images/social/icon_tumblr.jpg" />
      </a>
    </div>
  </div>
</footer>
