<header class="site-header outer-container clearfix">
  <a class='site-logo' href='/selectedwork/'>
    <img src="/static/images/domaen_logo_design.png" alt="Domaen Logo">
  </a>
  <ul id="menu" class='site-nav'>
    <li>
      <a href="/selectedwork/" {% if getCurrentUrl() == '/selectedwork/' %}class="is-active" {% endif %}>Selected Work</a>
    </li>
    <li>
      <a href="/fabricationgallery/" {% if getCurrentUrl() == '/fabricationgallery/' %}class="is-active" {% endif %}>Fabrication</a>
    </li>
    <li>
      <a href="{{ url('services') }}" {% if getCurrentUrl() == url('services') %}class="is-active" {% endif %}>Services</a>
    </li>
    <li>
      <a href="{{ url('facility') }}" {% if getCurrentUrl() == url('facility') %}class="is-active" {% endif %}>Facility</a>
    </li>
    <li>
      <a href="{{ url('people') }}" {% if getCurrentUrl() == url('people') %}class="is-active" {% endif %}>People</a>
    </li>
    <li>
      <a href="{{ url('press') }}" {% if getCurrentUrl() == url('press') %}class="is-active" {% endif %}>Press</a>
    </li>
    <li>
      <a href="{{ url('testimonials') }}" {% if getCurrentUrl() == url('testimonials') %}class="is-active" {% endif %}>Testimonials</a>
    </li>
    <li>
      <a href="{{ url('contact') }}" {% if getCurrentUrl() == url('contact') %}class="is-active" {% endif %}>Contact</a>
    </li>
  </ul>
</header>
