<div class='portfolio-thumb'>
  <div class="overlay-container">
    <a class="img helper--valign-middle modal-target" data-target="projects-{{code}}-modal" data-modal="/{{slug}}" href="/{{slug}}">
      <img src="{{main_image|imageSize(400)}}">
    </a>
    <a class="portfolio-thumb-overlay modal-target" data-target="projects-{{code}}-modal" data-modal="/{{slug}}" href="/{{slug}}">
      <span class='project-code'>{{code}}</span>
      {% if type %}
      <span class='meta'>type // {{type}}</span>
      {% endif %}
      {% if size %}
      <span class='meta'>size // {{size}}</span>
      {% endif %}
      {% if year %}
      <span class='meta'>date // {{year}}</span>
      {% endif %}
    </a>
  </div>

  <a class="portfolio-thumb__info modal-target" data-target="projects-{{code}}-modal" data-modal="/{{slug}}" href="/{{slug}}">
    <span>{{name}}</span>
    <span class="portfolio-thumb__info-type">{{type}}</span>
  </a>
</div>
