/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 21, /Users/narkeeso/Development/domaen/sass/base/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 31, /Users/narkeeso/Development/domaen/sass/base/normalize */
audio, canvas, video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, /Users/narkeeso/Development/domaen/sass/base/normalize */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, /Users/narkeeso/Development/domaen/sass/base/normalize */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, /Users/narkeeso/Development/domaen/sass/base/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
/* line 73, /Users/narkeeso/Development/domaen/sass/base/normalize */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 85, /Users/narkeeso/Development/domaen/sass/base/normalize */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 94, /Users/narkeeso/Development/domaen/sass/base/normalize */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 107, /Users/narkeeso/Development/domaen/sass/base/normalize */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 115, /Users/narkeeso/Development/domaen/sass/base/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 124, /Users/narkeeso/Development/domaen/sass/base/normalize */
b, strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 132, /Users/narkeeso/Development/domaen/sass/base/normalize */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 140, /Users/narkeeso/Development/domaen/sass/base/normalize */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 153, /Users/narkeeso/Development/domaen/sass/base/normalize */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 162, /Users/narkeeso/Development/domaen/sass/base/normalize */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
/* line 172, /Users/narkeeso/Development/domaen/sass/base/normalize */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 180, /Users/narkeeso/Development/domaen/sass/base/normalize */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 189, /Users/narkeeso/Development/domaen/sass/base/normalize */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 196, /Users/narkeeso/Development/domaen/sass/base/normalize */
sup {
  top: -0.5em; }

/* line 200, /Users/narkeeso/Development/domaen/sass/base/normalize */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 212, /Users/narkeeso/Development/domaen/sass/base/normalize */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 220, /Users/narkeeso/Development/domaen/sass/base/normalize */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 232, /Users/narkeeso/Development/domaen/sass/base/normalize */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 244, /Users/narkeeso/Development/domaen/sass/base/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 255, /Users/narkeeso/Development/domaen/sass/base/normalize */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 269, /Users/narkeeso/Development/domaen/sass/base/normalize */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 281, /Users/narkeeso/Development/domaen/sass/base/normalize */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 296, /Users/narkeeso/Development/domaen/sass/base/normalize */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
/* line 306, /Users/narkeeso/Development/domaen/sass/base/normalize */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 316, /Users/narkeeso/Development/domaen/sass/base/normalize */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 327, /Users/narkeeso/Development/domaen/sass/base/normalize */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 340, /Users/narkeeso/Development/domaen/sass/base/normalize */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 349, /Users/narkeeso/Development/domaen/sass/base/normalize */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 359, /Users/narkeeso/Development/domaen/sass/base/normalize */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 372, /Users/narkeeso/Development/domaen/sass/base/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, /Users/narkeeso/Development/domaen/sass/neat/grid/box-sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/narkeeso/Development/domaen/sass/neat/grid/box-sizing */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 7, /Users/narkeeso/Development/domaen/sass/base/base */
body, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  font-family: "Abel", "Helvetica", "Arial", sans-serif;
  height: 100%;
  font-size: 18px; }

/* line 16, /Users/narkeeso/Development/domaen/sass/base/base */
html {
  height: 100%; }

/* line 20, /Users/narkeeso/Development/domaen/sass/base/base */
body {
  padding: 0 50px; }

/* line 24, /Users/narkeeso/Development/domaen/sass/base/base */
h1, h2, h3, h4, h5, h6 {
  color: #343434;
  font-family: "Abel", "Helvetica", "Arial", sans-serif;
  font-weight: 400; }

/* line 30, /Users/narkeeso/Development/domaen/sass/base/base */
h1 {
  font-size: 54px;
  margin: 40px 0; }

/* line 35, /Users/narkeeso/Development/domaen/sass/base/base */
a {
  color: #2980b9;
  cursor: pointer; }

/* line 40, /Users/narkeeso/Development/domaen/sass/base/base */
img {
  max-width: 100%;
  height: auto; }

/* line 45, /Users/narkeeso/Development/domaen/sass/base/base */
ul {
  margin: 0; }

/* line 49, /Users/narkeeso/Development/domaen/sass/base/base */
footer {
  bottom: 0;
  left: 0;
  padding: 5px 50px;
  position: fixed;
  width: 100%; }
  /* line 55, /Users/narkeeso/Development/domaen/sass/base/base */
  footer .outer-container {
    position: relative; }

/* line 60, /Users/narkeeso/Development/domaen/sass/base/base */
.pull-left {
  float: left; }

/* line 64, /Users/narkeeso/Development/domaen/sass/base/base */
.helper--valign-middle {
  height: 100%;
  font: 0/0 a; }
  /* line 67, /Users/narkeeso/Development/domaen/sass/base/base */
  .helper--valign-middle:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }

/* line 75, /Users/narkeeso/Development/domaen/sass/base/base */
.video-responsive-object {
  position: relative;
  padding-bottom: 43%;
  height: 0;
  margin: 5px 0;
  overflow: hidden;
  z-index: 20; }

/* line 86, /Users/narkeeso/Development/domaen/sass/base/base */
.video-responsive-object iframe, .responsive-object object, .responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 95, /Users/narkeeso/Development/domaen/sass/base/base */
.container {
  max-width: 1088px;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 103, /Users/narkeeso/Development/domaen/sass/base/base */
.outer-container {
  max-width: 1088px;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
  .outer-container:after {
    content: "";
    display: table;
    clear: both; }

/* line 107, /Users/narkeeso/Development/domaen/sass/base/base */
body.modal-open {
  margin-right: 0; }

/* line 111, /Users/narkeeso/Development/domaen/sass/base/base */
.btn-sm {
  font-size: 14px;
  padding: 2px 10px; }

/* line 116, /Users/narkeeso/Development/domaen/sass/base/base */
.modal-backdrop {
  background: #fff; }

/* line 120, /Users/narkeeso/Development/domaen/sass/base/base */
.modal-dialog {
  margin: 0 auto;
  max-width: 1148px;
  padding: 50px 30px;
  width: 100%; }

/* line 127, /Users/narkeeso/Development/domaen/sass/base/base */
.modal-body {
  background: black;
  padding: 0; }

/* line 132, /Users/narkeeso/Development/domaen/sass/base/base */
.modal-content {
  border: 0;
  border-radius: 0; }

/* line 137, /Users/narkeeso/Development/domaen/sass/base/base */
.modal-header {
  padding: 10px 15px;
  text-align: center; }
  /* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
  .modal-header:after {
    content: "";
    display: table;
    clear: both; }

/* line 143, /Users/narkeeso/Development/domaen/sass/base/base */
.modal-footer {
  border-radius: 0;
  margin-top: 0; }

/* line 148, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-text {
  background: white;
  padding: 20px 90px 0 90px; }

/* line 153, /Users/narkeeso/Development/domaen/sass/base/base */
.modal .close {
  opacity: 0.5;
  font-size: 24px;
  padding-top: 2px; }
  /* line 157, /Users/narkeeso/Development/domaen/sass/base/base */
  .modal .close .glyphicon {
    color: #343434; }

/* line 163, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-inner > .item-image {
  font-size: 0;
  line-height: 500px; }
/* line 167, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-inner > .item {
  -webkit-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 500px;
  text-align: center; }
  /* line 171, /Users/narkeeso/Development/domaen/sass/base/base */
  .carousel-inner > .item > img {
    display: inline-block;
    max-height: 100%; }
/* line 176, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-inner > .item-video {
  height: 100%; }
/* line 179, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-inner .carousel-text {
  height: 100%;
  overflow-y: scroll;
  text-align: left; }
/* line 184, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-inner h1 {
  margin-bottom: 15px; }

/* line 189, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-nav {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute; }

/* line 196, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-control .icon-next, .carousel-control .icon-prev {
  font-size: 70px;
  margin-top: -35px; }
/* line 200, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-control.right, .carousel-control.left {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); }
/* line 205, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-control:hover.left {
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(255, 228, 64, 0.3));
  background-image: linear-gradient(to left,rgba(0, 0, 0, 0), rgba(255, 228, 64, 0.3)); }
/* line 208, /Users/narkeeso/Development/domaen/sass/base/base */
.carousel-control:hover.right {
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 228, 64, 0.3));
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0), rgba(255, 228, 64, 0.3)); }

/* line 1, /Users/narkeeso/Development/domaen/sass/layout/layout */
.neat-row {
  display: block; }
  /* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
  .neat-row:after {
    content: "";
    display: table;
    clear: both; }

/* line 6, /Users/narkeeso/Development/domaen/sass/layout/layout */
.neat-row--six-four2 .neat-col-left {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  font-size: 20px; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .neat-row--six-four2 .neat-col-left:last-child {
    margin-right: 0; }
/* line 10, /Users/narkeeso/Development/domaen/sass/layout/layout */
.neat-row--six-four2 .neat-col-right {
  margin-left: 17.0596085997%;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .neat-row--six-four2 .neat-col-right:last-child {
    margin-right: 0; }

/* line 17, /Users/narkeeso/Development/domaen/sass/layout/layout */
.build_facility .neat-row, .build_testimonials .neat-row {
  margin-bottom: 20px; }
/* line 20, /Users/narkeeso/Development/domaen/sass/layout/layout */
.build_facility .neat-col, .build_testimonials .neat-col {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .build_facility .neat-col:last-child, .build_testimonials .neat-col:last-child {
    margin-right: 0; }
  /* line 48, /Users/narkeeso/Development/domaen/sass/neat/grid/omega */
  .build_facility .neat-col:nth-child(even):last-child, .build_testimonials .neat-col:nth-child(even):last-child {
    margin-right: 0; }
/* line 26, /Users/narkeeso/Development/domaen/sass/layout/layout */
.build_facility .gutter-sizer, .build_testimonials .gutter-sizer {
  width: 2.35765%; }

/* line 1, /Users/narkeeso/Development/domaen/sass/modules/modules */
.bg-dark, body.build {
  background: #343434;
  color: #e5e5e5; }

/* line 6, /Users/narkeeso/Development/domaen/sass/modules/modules */
.bg-yellow, body.design .site-switch-design, body.build .site-switch-build {
  background: #ffe400;
  color: #343434; }

/* line 11, /Users/narkeeso/Development/domaen/sass/modules/modules */
.bg-padded-link {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 15px; }

/* line 17, /Users/narkeeso/Development/domaen/sass/modules/modules */
.list-panel {
  font-size: 24px;
  padding: 20px 30px; }
  /* line 20, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .list-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  /* line 25, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .list-panel li {
    margin: 0;
    padding: 0; }

/* line 31, /Users/narkeeso/Development/domaen/sass/modules/modules */
.portfolio {
  display: block; }
  /* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
  .portfolio:after {
    content: "";
    display: table;
    clear: both; }

/* line 35, /Users/narkeeso/Development/domaen/sass/modules/modules */
.portfolio-thumb {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  display: none; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .portfolio-thumb:last-child {
    margin-right: 0; }
  /* line 41, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .no-velocity-js .portfolio-thumb {
    display: block; }
  /* line 44, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb:nth-child(4n) {
    margin-right: 0; }
  /* line 47, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb a:hover {
    text-decoration: none; }
  /* line 50, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb .overlay-container {
    position: relative; }
    /* line 52, /Users/narkeeso/Development/domaen/sass/modules/modules */
    .portfolio-thumb .overlay-container:after {
      content: '';
      display: block;
      padding-top: 70.33%; }
  /* line 59, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb:hover .portfolio-thumb-overlay {
    right: 0%; }
    /* line 61, /Users/narkeeso/Development/domaen/sass/modules/modules */
    .csstransforms .portfolio-thumb:hover .portfolio-thumb-overlay {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      right: auto; }
  /* line 67, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb .img {
    background: #f2f2f2;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  /* line 77, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb img {
    width: 100%; }

/* line 82, /Users/narkeeso/Development/domaen/sass/modules/modules */
.portfolio-thumb__info {
  color: #000;
  font-size: 18px;
  display: block;
  height: 40px;
  margin-top: 5px;
  line-height: 1.3; }
  /* line 89, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb__info > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

/* line 97, /Users/narkeeso/Development/domaen/sass/modules/modules */
.portfolio-thumb__info-type {
  text-transform: capitalize;
  font-size: 14px; }

/* line 102, /Users/narkeeso/Development/domaen/sass/modules/modules */
.portfolio-thumb-overlay {
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: #ffe400;
  color: #343434;
  height: 100%;
  right: -100%;
  padding: 20px 25px;
  position: absolute;
  width: 100%;
  top: 0; }
  /* line 104, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .csstransforms .portfolio-thumb-overlay {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    right: -2px; }
  /* line 116, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .opacity .portfolio-thumb-overlay {
    opacity: 0.95; }
  /* line 119, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb-overlay:hover {
    color: #343434; }
  /* line 122, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb-overlay > .project-code {
    display: block;
    font-size: 24px;
    font-family: "Abel", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    position: absolute;
    bottom: 15px;
    right: 25px; }
  /* line 132, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .portfolio-thumb-overlay > .meta {
    display: block;
    font-size: 16px; }

/* line 138, /Users/narkeeso/Development/domaen/sass/modules/modules */
.project-attribute {
  font-size: 16px; }
  /* line 139, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .project-attribute strong {
    font-weight: normal;
    text-transform: lowercase;
    text-decoration: underline; }

/* line 147, /Users/narkeeso/Development/domaen/sass/modules/modules */
.social {
  position: absolute;
  top: 0;
  right: 0; }

/* line 153, /Users/narkeeso/Development/domaen/sass/modules/modules */
.social-icon {
  height: 25px;
  display: inline-block;
  line-height: 1;
  vertical-align: top; }

/* line 160, /Users/narkeeso/Development/domaen/sass/modules/modules */
.social-icon.houzz {
  background: #8ac541; }

/* line 164, /Users/narkeeso/Development/domaen/sass/modules/modules */
body#splash {
  padding: 0; }

/* line 168, /Users/narkeeso/Development/domaen/sass/modules/modules */
.splash {
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 100%;
  position: relative; }

@-webkit-keyframes slide {
  /* line 177, /Users/narkeeso/Development/domaen/sass/modules/modules */
  from {
    -webkit-transform: translateX(-100px); }

  /* line 180, /Users/narkeeso/Development/domaen/sass/modules/modules */
  to {
    -webkit-transform: translateX(0); } }

@-moz-keyframes slide {
  /* line 177, /Users/narkeeso/Development/domaen/sass/modules/modules */
  from {
    -moz-transform: translateX(-100px); }

  /* line 180, /Users/narkeeso/Development/domaen/sass/modules/modules */
  to {
    -moz-transform: translateX(0); } }

@keyframes slide {
  /* line 177, /Users/narkeeso/Development/domaen/sass/modules/modules */
  from {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }

  /* line 180, /Users/narkeeso/Development/domaen/sass/modules/modules */
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/* line 185, /Users/narkeeso/Development/domaen/sass/modules/modules */
.splash__link {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 100; }

/* line 194, /Users/narkeeso/Development/domaen/sass/modules/modules */
.splash-strip {
  color: #e5e5e5;
  font-size: 18px;
  right: 50px;
  position: absolute;
  top: 75px;
  z-index: 5; }
  /* line 15, /Users/narkeeso/Development/domaen/sass/bourbon/addons/clearfix */
  .splash-strip:after {
    content: "";
    display: table;
    clear: both; }
  /* line 202, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip .fork, .splash-strip .brand {
    float: left;
    padding: 5px 10px; }
  /* line 206, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip .fork {
    background: #343434;
    position: relative;
    z-index: 1; }
  /* line 211, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip a {
    color: #e5e5e5;
    padding: 0 10px;
    text-transform: uppercase; }
    /* line 215, /Users/narkeeso/Development/domaen/sass/modules/modules */
    .splash-strip a.design {
      border-right: 2px solid #e5e5e5; }
  /* line 219, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip > span {
    margin-right: 10px; }
  /* line 223, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip .brand {
    background: #ffe400; }
  /* line 227, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip .slogan {
    background: #343434;
    height: 100%;
    padding: 5px 10px;
    color: #fff; }
  /* line 234, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-strip img {
    height: 16px;
    position: relative;
    top: -3px; }

/* line 241, /Users/narkeeso/Development/domaen/sass/modules/modules */
.splash-services {
  color: #fff;
  right: 50px;
  top: 125px;
  position: absolute;
  z-index: 5; }
  /* line 248, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-services ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  /* line 254, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-services li {
    opacity: 0.5;
    font-size: 18px;
    text-align: right; }
    /* line 258, /Users/narkeeso/Development/domaen/sass/modules/modules */
    .splash-services li:last-child {
      margin-right: 0; }
  /* line 263, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .splash-services a {
    color: #fff; }

/* line 268, /Users/narkeeso/Development/domaen/sass/modules/modules */
.splash__darken-overlay {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0; }

/* line 279, /Users/narkeeso/Development/domaen/sass/modules/modules */
.huge-quote {
  font-family: "Georgia";
  font-size: 750px;
  line-height: 1;
  opacity: 0.1;
  position: absolute;
  right: 10%;
  z-index: 0; }

/* line 289, /Users/narkeeso/Development/domaen/sass/modules/modules */
.packery .portfolio-thumb {
  margin-bottom: 0 !important; }

/* line 293, /Users/narkeeso/Development/domaen/sass/modules/modules */
.facility {
  position: relative; }
  /* line 296, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .facility .neat-col-left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .facility .neat-col-left:last-child {
      margin-right: 0; }
  /* line 299, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .facility .packery__stamp {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    position: absolute;
    left: 0;
    margin-right: 0;
    font-size: 24px; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .facility .packery__stamp:last-child {
      margin-right: 0; }
    /* line 305, /Users/narkeeso/Development/domaen/sass/modules/modules */
    .facility .packery__stamp p {
      margin: 0; }
  /* line 309, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .facility .packery__thumb {
    -webkit-transition: all 0.35s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.35s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.35s cubic-bezier(0.86, 0, 0.07, 1);
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .facility .packery__thumb:last-child {
      margin-right: 0; }
    /* line 312, /Users/narkeeso/Development/domaen/sass/modules/modules */
    html.opacity .facility .packery__thumb {
      opacity: 0; }
  /* line 316, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .facility .packery__gutter-sizer {
    width: 2.3576515979%; }

/* line 322, /Users/narkeeso/Development/domaen/sass/modules/modules */
.services h1 {
  max-width: 80%; }

/* line 328, /Users/narkeeso/Development/domaen/sass/modules/modules */
.testimonials .neat-col-left {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .testimonials .neat-col-left:last-child {
    margin-right: 0; }

/* line 334, /Users/narkeeso/Development/domaen/sass/modules/modules */
.content__press .neat-col {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  height: 360px;
  margin-bottom: 30px; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .content__press .neat-col:last-child {
    margin-right: 0; }
  /* line 338, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .content__press .neat-col:nth-child(4n) {
    margin-right: 0; }

/* line 345, /Users/narkeeso/Development/domaen/sass/modules/modules */
.press .neat-col {
  display: none; }
  /* line 347, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .no-velocity-js .press .neat-col {
    display: block; }

/* line 353, /Users/narkeeso/Development/domaen/sass/modules/modules */
.press__thumb-image {
  border: 1px solid #f2f2f2;
  height: 100%;
  overflow: hidden;
  position: relative; }
  /* line 358, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .press__thumb-image:after {
    content: '';
    background: url('/static/images/noise_lines.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5; }
  /* line 369, /Users/narkeeso/Development/domaen/sass/modules/modules */
  .press__thumb-image img {
    width: 100%; }

/* line 375, /Users/narkeeso/Development/domaen/sass/modules/modules */
.press__thumb-info .name {
  font-size: 20px;
  margin-top: 0; }
/* line 379, /Users/narkeeso/Development/domaen/sass/modules/modules */
.press__thumb-info .description {
  font-size: 16px;
  margin-top: 15px; }
/* line 383, /Users/narkeeso/Development/domaen/sass/modules/modules */
.press__thumb-info > a {
  padding: 5px 10px; }

/* line 18, /Users/narkeeso/Development/domaen/sass/main.scss */
html.loading:after {
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  width: 100%; }

/* line 28, /Users/narkeeso/Development/domaen/sass/main.scss */
.spinner {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  z-index: 1000 !important; }

/* line 35, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-logo {
  position: relative;
  top: 15px; }

/* line 40, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-header {
  border-bottom: 1px solid #ddd;
  font-family: "Abel", "Helvetica", "Arial", sans-serif;
  color: #333;
  margin-top: 50px;
  padding-bottom: 15px; }
  /* line 46, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-header a {
    color: #333;
    text-decoration: none; }
  /* line 50, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-header > ul {
    margin-top: 40px; }

/* line 55, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-switch, .site-nav {
  padding-left: 10px;
  float: right; }

/* line 61, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-nav > li {
  display: inline-block;
  font: normal 18px "Abel", "Helvetica", "Arial", sans-serif;
  padding: 5px 0 0 5px;
  margin-right: 5px;
  text-transform: lowercase; }
  /* line 67, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-nav > li:first-child:before {
    content: none; }
  /* line 70, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-nav > li:before {
    content: '/';
    color: #bfbfbf;
    position: relative;
    left: -5px; }
/* line 78, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-nav a.is-active {
  border-bottom: 1px solid #ffe440; }

/* line 84, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-switch > li {
  display: inline-block;
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase; }

/* line 93, /Users/narkeeso/Development/domaen/sass/main.scss */
body.design .site-switch-design, body.build .site-switch-build {
  padding: 5px 10px; }

/* line 98, /Users/narkeeso/Development/domaen/sass/main.scss */
.site-content {
  margin-top: 30px;
  padding-bottom: 100px; }

/* line 106, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build a {
  color: #ffe400; }
/* line 110, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build footer {
  background: #222; }
/* line 114, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build h1, body.build h2, body.build h3, body.build h4, body.build h5, body.build h6 {
  color: #e5e5e5; }
/* line 119, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build .site-nav a {
  color: #e5e5e5; }
/* line 122, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build .site-nav li:before {
  color: #e5e5e5; }
/* line 127, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build .site-switch-build a {
  color: #343434; }
/* line 131, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build .bg-yellow, body.build body.design .site-switch-design, body.design body.build .site-switch-design, body.build .site-switch-build {
  color: #343434; }
/* line 135, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build .portfolio-thumb-overlay {
  color: #343434; }
/* line 139, /Users/narkeeso/Development/domaen/sass/main.scss */
body.build .modal {
  color: #343434; }
  /* line 141, /Users/narkeeso/Development/domaen/sass/main.scss */
  body.build .modal h1, body.build .modal h2, body.build .modal h3, body.build .modal h4, body.build .modal h5, body.build .modal h6 {
    color: #343434; }

/* line 148, /Users/narkeeso/Development/domaen/sass/main.scss */
.dm-people .neat-col {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
  .dm-people .neat-col:last-child {
    margin-right: 0; }
/* line 152, /Users/narkeeso/Development/domaen/sass/main.scss */
.dm-people .description {
  font-size: 18px; }
/* line 156, /Users/narkeeso/Development/domaen/sass/main.scss */
.dm-people h4 {
  background: #ffe400;
  display: inline-block;
  font-size: 18px;
  padding: 5px 10px;
  text-transform: uppercase; }

/* line 165, /Users/narkeeso/Development/domaen/sass/main.scss */
.slicknav_menu {
  background: transparent;
  display: none;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
  padding: 0; }

/* line 176, /Users/narkeeso/Development/domaen/sass/main.scss */
.slicknav_nav {
  background: #343434;
  margin: 0 20px; }
  /* line 179, /Users/narkeeso/Development/domaen/sass/main.scss */
  .slicknav_nav a {
    font-size: 16px;
    margin: 0; }
    /* line 182, /Users/narkeeso/Development/domaen/sass/main.scss */
    .slicknav_nav a:hover {
      background: #ffe400;
      border-radius: 0;
      color: #343434;
      text-decoration: none; }

/* line 191, /Users/narkeeso/Development/domaen/sass/main.scss */
.slicknav_btn {
  background: #343434;
  margin: 20px 20px 5px 20px; }

@media only screen and (max-width: 800px) {
  /* line 197, /Users/narkeeso/Development/domaen/sass/main.scss */
  body {
    padding: 0; }

  /* line 201, /Users/narkeeso/Development/domaen/sass/main.scss */
  footer {
    position: relative; }

  /* line 205, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-header {
    border-bottom: 0;
    margin-top: 0; }

  /* line 210, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-content {
    padding: 0 20px; }

  /* line 214, /Users/narkeeso/Development/domaen/sass/main.scss */
  #menu {
    display: none; }

  /* line 218, /Users/narkeeso/Development/domaen/sass/main.scss */
  .slicknav_menu {
    display: block; }

  /* line 222, /Users/narkeeso/Development/domaen/sass/main.scss */
  h1 {
    font-size: 32px;
    margin: 15px 0; }

  /* line 227, /Users/narkeeso/Development/domaen/sass/main.scss */
  .carousel-text {
    padding: 20px 40px; }

  /* line 237, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal, .modal-dialog, .modal-content, .modal-body, .carousel, .carousel-inner, .carou {
    height: 100%; }

  /* line 241, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-dialog {
    padding: 0;
    position: relative; }

  /* line 252, /Users/narkeeso/Development/domaen/sass/main.scss */
  .carousel .item {
    height: 100%; }
  /* line 255, /Users/narkeeso/Development/domaen/sass/main.scss */
  .carousel .item-image {
    line-height: 0; }
    /* line 257, /Users/narkeeso/Development/domaen/sass/main.scss */
    .carousel .item-image img {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      position: relative;
      top: 50%; }

  /* line 265, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-header {
    background: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 100;
    width: 100%; }

  /* line 274, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-header {
    top: 0; }

  /* line 278, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-footer {
    background: #fff; }

  /* line 282, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-body {
    padding: 48px 0 0 0; }

  /* Styles for tablet */
  /* line 287, /Users/narkeeso/Development/domaen/sass/main.scss */
  .portfolio-thumb {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .portfolio-thumb:last-child {
      margin-right: 0; }
    /* line 289, /Users/narkeeso/Development/domaen/sass/main.scss */
    .portfolio-thumb:nth-child(2n) {
      margin-right: 0; }

  /* line 294, /Users/narkeeso/Development/domaen/sass/main.scss */
  .splash-services {
    display: none; }

  /* line 298, /Users/narkeeso/Development/domaen/sass/main.scss */
  .neat-col-left, .neat-col-right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .neat-col-left:last-child, .neat-col-right:last-child {
      margin-right: 0; }

  /* line 302, /Users/narkeeso/Development/domaen/sass/main.scss */
  .dm-people .neat-col {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .dm-people .neat-col:last-child {
      margin-right: 0; }
    /* line 304, /Users/narkeeso/Development/domaen/sass/main.scss */
    .dm-people .neat-col:nth-child(2n) {
      margin-right: 0; }

  /* line 310, /Users/narkeeso/Development/domaen/sass/main.scss */
  .services .neat-col-left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .services .neat-col-left:last-child {
      margin-right: 0; }
  /* line 313, /Users/narkeeso/Development/domaen/sass/main.scss */
  .services .neat-col-right {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin: 0; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .services .neat-col-right:last-child {
      margin-right: 0; }

  /* line 320, /Users/narkeeso/Development/domaen/sass/main.scss */
  .content__press .neat-col {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    height: 250px;
    margin-right: 0; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .content__press .neat-col:last-child {
      margin-right: 0; }
  /* line 325, /Users/narkeeso/Development/domaen/sass/main.scss */
  .content__press hr {
    display: block; }
 }

@media only screen and (max-width: 480px) {
  /* Styles for mobile */
  /* line 334, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-header .attribution {
    display: none; }

  /* line 339, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-logo img {
    margin-bottom: 20px;
    width: 50px; }

  /* line 344, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-content {
    margin-top: 10px; }
    /* line 346, /Users/narkeeso/Development/domaen/sass/main.scss */
    .site-content h1 {
      font-size: 30px;
      margin: 5px 0; }

  /* line 352, /Users/narkeeso/Development/domaen/sass/main.scss */
  .site-nav {
    margin-top: 10px !important;
    padding: 0; }
    /* line 355, /Users/narkeeso/Development/domaen/sass/main.scss */
    .site-nav li {
      padding: 0; }

  /* line 360, /Users/narkeeso/Development/domaen/sass/main.scss */
  .portfolio-thumb {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%;
    margin-right: 0; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .portfolio-thumb:last-child {
      margin-right: 0; }

  /* line 365, /Users/narkeeso/Development/domaen/sass/main.scss */
  .modal-dialog {
    padding-left: 0;
    padding-right: 0; }

  /* line 370, /Users/narkeeso/Development/domaen/sass/main.scss */
  .dm-people .neat-col {
    width: 100%; }

  /* line 375, /Users/narkeeso/Development/domaen/sass/main.scss */
  .testimonials .neat-col-left {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    /* line 85, /Users/narkeeso/Development/domaen/sass/neat/grid/span-columns */
    .testimonials .neat-col-left:last-child {
      margin-right: 0; }
 }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 382, /Users/narkeeso/Development/domaen/sass/main.scss */
  body {
    background-size: 72px 72px; }
 }

/*# sourceMappingURL=main.css.map */