{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH press #}
{# This page can use any data from http:localhost:2000/cms/#/form/press/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this press's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}
<div aria-hidden='true' class="dm-project modal fade" id="{{item._id}}-modal" role='dialog' tabindex='-1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% if item.gallery.length > 1 %}
        <a href="#carousel-{{item._id}}" data-slide="prev">Previous</a>
        <span> | </span>
        <a href="#carousel-{{item._id}}" data-slide="next">Next</a>
        {% else %}
        <a href="#carousel-{{item._id}}" data-slide="next">&nbsp;</a>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <div class="carousel slide" data-interval='false' id='carousel-{{item._id}}'>
          <ol class='carousel-indicators'>
            {% for img in item.gallery %}
              <li class='{% if loop.first %}active{% endif %}' data-slide-to='{{loop.index}}' data-target='#carousel-{{item._id}}'></li>
            {% endfor %}
          </ol>

          <div class="carousel-inner">
            {% for img in item.gallery %}
              <div class='{% if loop.first %}active {% endif %}item item-image'>
                <img src="{{img|imageSize(1100)}}"/>
              </div>
            {% endfor %}
          </div>

          {% if item.gallery.length > 1 %}
          <a href="#carousel-{{item._id}}" data-slide="prev" class="left carousel-control">
            <span class="icon-prev"></span>
          </a>
          <a href="#carousel-{{item._id}}" data-slide="next" class="right carousel-control">
            <span class="icon-next"></span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <span class="attribution pull-right">
          {{item.location}}
        </span>
        <span class="attribution pull-left">
          {% if item.code %}{{item.code}} -{% endif %} {{item.name}}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
