{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL press #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append press to the site title defined in base.html #}
{% block title %}{% parent %} - press{% endblock %}

{% block content %}

  {# The first thing we do is call press data from the CMS. #}
  {% set data = cms.press %}

  {# Next we sort the data by publish_date. The true bit reverses it so it's newest first. Learn more: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/#sortproperty_reverseorder #}
  {% set data = data|sort('publish_date', true) %}

  {# This is how you set pagination. It's always important to do this after your sort. #}

  <div class="content__press">
    <h1>Domaen in the Press</h1>

    <div class="press neat-row">
      {% for press in data %}
        <div class="neat-col">
          <div class="press__thumb-image">
            <img src="{{ press.main_image|imageSize(350) }}">
          </div>
        </div>
        <div class="neat-col press__thumb-info">
          <h3 class="name">{{ press.name }}</h3>
          <span class="type">{{ press.type }}</span><br>
          <span class="year">{{ press.date_time|date('Y') }}</span>
          <div class="description">
            {{ press.description|safe }}
          </div>
          <a data-target="press-{{press._id}}-modal" data-modal="/{{press.slug}}" class="modal-target bg-yellow">View</a>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block inline-js %}
<script>
  Dm.Press = Dm.extend({
    ready: function() {
      $('.press').spin();
    },

    render: function() {
      $('.press').spin(false);

      $('.press .neat-col').velocity('transition.slideUpIn', {
        easing: 'easeInOutQuint',
        duration: 750,
        stagger: 100,
        display: 'block'
      });
    }
  });

  new Dm.Press();
</script>
{% endblock %}
