{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL people #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append people to the site title defined in base.html #}
{% block title %}{% parent %} - people{% endblock %}

{% block content %}
<div class="dm-people">
  <h1>Our Team</h1>

  <div class="neat-row neat-row--three">
    <div class="neat-col neat-col-left">
      {% set chris = cms.people|where('name', 'Chris Lowe')|first %}
      {% include "./templates/partials/person.html" with chris only %}
      {% set jessica = cms.people|where('name', 'Jessica Ungos')|first %}
      {% include "./templates/partials/person.html" with jessica only %}
    </div>
    <div class="neat-col">
      {% set tom = cms.people|where('name', 'Tom Michel')|first %}
      {% include "./templates/partials/person.html" with tom only %}
      {% set art = cms.people|where('name', 'Art Conriquez')|first %}
      {% include "./templates/partials/person.html" with art only %}
    </div>
    <div class="neat-col neat-col-right">
      {% set axel = cms.people|where('name', 'Axel Prichard-Schmitzberger')|first %}
      {% include "./templates/partials/person.html" with axel only %}
      {% set janell = cms.people|where('name', 'Janell Ackermann')|first %}
      {% include "./templates/partials/person.html" with janell only %}
    </div>
  </div>
</div>
{% endblock %}
