@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Placeholder
body, html {
  // background: url(apple-touch-icon.png) no-repeat center center;
  @include box-sizing(border-box);
  color: #666;
  font-family: "Abel", "Helvetica", "Arial", sans-serif;
  height: 100%;
  font-size: 18px;
}

html {
  height: 100%;
}

body {
  padding: 0 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #343434;
  font-family: "Abel", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 54px;
  margin: 40px 0;
}

a {
  color: #2980b9;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
    margin: 0;
}

footer {
  bottom: 0;
  left: 0;
  padding: 5px 50px;
  position: fixed;
  width: 100%;
  .outer-container {
    position: relative;
  }
}

.pull-left {
  float: left;
}

.helper--valign-middle {
  height: 100%;
  font: 0/0 a;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.video-responsive-object {
  position: relative;
  padding-bottom: 43%;
  height: 0;
  margin: 5px 0;
  overflow: hidden;
  z-index: 20;
}

.video-responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Bootstrap Overrides
.container {
  @include outer-container;
}

.clearfix {
  @include clearfix;
}

.outer-container {
  @include outer-container;
}

body.modal-open {
  margin-right: 0;
}

.btn-sm {
  font-size: 14px;
  padding: 2px 10px;
}

.modal-backdrop {
  background: #fff;
}

.modal-dialog {
  margin: 0 auto;
  max-width: 1148px;
  padding: 50px 30px;
  width: 100%;
}

.modal-body {
  background: black;
  padding: 0;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-header {
  @include clearfix;
  padding: 10px 15px;
  text-align: center;
}

.modal-footer {
  border-radius: 0;
  margin-top: 0;
}

.carousel-text {
  background: white;
  padding: 20px 90px 0 90px;
}

.modal .close {
  opacity: 0.5;
  font-size: 24px;
  padding-top: 2px;
  .glyphicon {
    color: #343434;
  }
}

.carousel-inner {
  > .item-image {
    font-size: 0;
    line-height: 500px;
  }
  > .item {
    @include transition(left 0.3s $ease-out-circ);
    height: 500px;
    text-align: center;
    > img {
      display: inline-block;
      max-height: 100%;
    }
  }
  > .item-video {
    height: 100%;
  }
  .carousel-text {
    height: 100%;
    overflow-y: scroll;
    text-align: left;
  }
  h1 {
    margin-bottom: 15px;   
  }
}

.carousel-nav {
  @include transform(translateX(-50%));
  left: 50%;
  position: absolute;
}

.carousel-control {
  .icon-next, .icon-prev {
    font-size: 70px;
    margin-top: -35px;
  }
  &.right, &.left {
    @include transition(all .25s ease-in);
    @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));  
  }
  &:hover {
    &.left {
      @include linear-gradient(to left, rgba(0,0,0,0), rgba(#ffe440,.3))
    }
    &.right {
      @include linear-gradient(to right, rgba(0,0,0,0), rgba(#ffe440,.3))
    }
  }
}
// End Bootstrap Overrides
