<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Webhook</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="siteName" content="domaen">
  <meta name="buildLive" content="true">

  <link rel="stylesheet" href="http://cms.webhook.com/{{ cmsVersion }}/assets/app.min.css">

  <link rel="shortcut icon" href="/static/images/favicon.png">
  <link rel="apple-touch-icon icon-precomposed" href="/static/images/touch-icon.png"/>

  {% if firebase_conf.custom %}
  <script>
   window.ENV = {
      dbName:     "{{ firebase_conf.firebase }}",
      uploadUrl:  "{{ firebase_conf.server }}",
      embedlyKey: "{{ firebase_conf.embedly }}",
      selfHosted: true
    };
  </script>
  {% else %}
  <script src="//dl1d2m8ri9v3j.cloudfront.net/releases/1.2.4/tracker.js" data-customer="2ec590caf8d5471a9514fd30e698cea6"></script>
  {% endif %}

  <script src="http://cms.webhook.com/{{ cmsVersion }}/assets/js/config.min.js"></script>
  <script src="http://cms.webhook.com/{{ cmsVersion }}/assets/vendor.min.js"></script>
  <script src="http://cms.webhook.com/{{ cmsVersion }}/assets/js/app.min.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p>
  <![endif]-->

  <script>
    window.App = require('appkit/app')["default"].create();
  </script>
</body>
</html>
