{# ------------------------------------------------------- #}
{# ONE OFF VIEW facility #}
{# This page can use any data from http:localhost:2000/cms/#/form/facility/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this facility's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.facility.name }}{% endblock %}
{% block content %}
  <div class="facility">
    <h1>{{ cms.facility.name }}</h1>

    <div class="neat-row">
      <div class="neat-col neat-col-left">
        <p>{{ cms.facility.wysiwyg_text|safe }}</p>
      </div>
    </div>

    <div class="packery">
      <div class="packery__gutter-sizer"></div>
      {% for image in cms.facility.gallery %}
      <div class="packery__thumb">
        <img src="{{ image|imageSize(600) }}">
      </div>
      {% endfor%}
    </div>
  </div>
{% endblock %}
