{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}

{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}
<div class="splash" style="background-image: url('{{ cms.splash.splash_image.url }}');">
  <a class="splash__link" href="/selectedwork/"></a>

  <div class="splash-strip">
    <div class="brand pull-left">
      <img src="/static/images/domaen_logo_text.png" alt="Domaen">
    </div>
    <div class="slogan pull-left">
      Design &amp; Build
    </div>
  </div>

  <div class="splash-services">
    <ul>
      <li><a href="/selectedwork/">Enter Site &#187;</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block inline-js %}
  <script>
    Dm.Splash = Dm.extend({
      beforeReady: function() {
        $('.splash-strip').hide();
        $('.splash-services').find('li').hide();
      },

      ready: function() {
        this.setupOverlay();
        this.setupServices();

        $('.splash-strip').velocity('transition.slideUpIn', {
          delay: 1000
        });
      },

      setupServices: function() {
        var $services = $('.splash-services');

        $services.find('li').velocity('transition.slideUpIn', {
          stagger: 50,
          delay: 2000
        });
      },

      setupOverlay: function() {
        var $overlay = $('<div class="splash__darken-overlay">');
        $overlay.appendTo('.splash');
        $overlay.velocity({ opacity: [0.4, 0] }, { duration: 2000 });
      }
    });

    new Dm.Splash();
  </script>
{% endblock %}
