{# ------------------------------------------------------- #}
{# ONE OFF VIEW selectedwork #}
{# This page can use any data from http:localhost:2000/cms/#/form/selectedwork/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# You can copy/paste this line to any page on your site to access the selectedwork data. #}
{% set item = get('selectedwork') %}
{# This sets our page <title>. It will append this selectedwork's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

  <h1>Selected Work</h1>

  <div class='portfolio'>
    {% for object in item.relationship %}
      {% include 'templates/partials/project-thumb.html' with object %}
    {% endfor %}
  </div>
{% endblock %}

{% block inline-js %}
<script>
  Dm.Portfolio = Dm.extend({
    ready: function() {
      $('.portfolio').spin();
    },

    render: function() {
      $('.portfolio').spin(false);

      $('.portfolio-thumb').velocity('transition.slideUpIn', {
        easing: 'easeInOutQuint',
        duration: 750,
        display: 'block',
        stagger: 100
      });
    }
  });

  new Dm.Portfolio();
</script>
{% endblock %}
