{# ------------------------------------------------------- #}
{# ONE OFF VIEW services #}
{# This page can use any data from http:localhost:2000/cms/#/form/services/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this services's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.services.name }}{% endblock %}
{% block content %}
<div class="services">
  <h1>{{ cms.services.name }}</h1>
  <div class="neat-row--six-four2">
    <div class="neat-col-left">
      {{ cms.services.wysiwyg_text|safe }}
    </div>
    <div class="neat-col-right">
      {% for file in cms.services.files %}
        <a class="bg-yellow bg-padded-link" href="">» Download {{file.name}}</a>
        <br>
      {% endfor %}
      <div class="bg-yellow list-panel">
        <p>Services Available</p>
        {{ cms.services.available_services|safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
