{# ------------------------------------------------------- #}
{# ONE OFF VIEW testimonials #}
{# This page can use any data from http:localhost:2000/cms/#/form/testimonials/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this testimonials's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.testimonials.name }}{% endblock %}
{% block content %}
<div class="testimonials">
  <h1>{{ cms.testimonials.name }}</h1>

  <div class="neat-row">
    <div class="neat-col-left">
      {% for row in cms.testimonials.testimonials %}
        {{ row.wysiwyg_text|safe }}
        <hr>
      {% endfor %}
    </div>
  </div>
  </ul>
</div>
{% endblock %}
