.bg-dark {
  background: #343434;
  color: #e5e5e5;
}

.bg-yellow {
  background: #ffe400;
  color: #343434;
}

.bg-padded-link {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.list-panel {
  font-size: 24px;
  padding: 20px 30px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
}

.portfolio {
  @include row;
}

.portfolio-thumb {
  @include span-columns(3);
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  display: none;
  .no-velocity-js & {
    display: block;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
  a:hover {
    text-decoration: none;
  }
  .overlay-container {
    position: relative;
    &:after {
      content: '';
      display: block;
      padding-top: 70.33%;
    }
  }
  &:hover {
    .portfolio-thumb-overlay {
      right: 0%;
      .csstransforms & {
        @include transform(translateX(0%));
        right: auto;
      }
    }
  }
  .img {
    background: tint(#000, 95);
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  img {
    width: 100%;
  }
}

.portfolio-thumb__info {
  color: #000;
  font-size: 18px;
  display: block;
  height: 40px;
  margin-top: 5px;
  line-height: 1.3;
  > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.portfolio-thumb__info-type {
  text-transform: capitalize;
  font-size: 14px;
}

.portfolio-thumb-overlay {
  @include transition(all .3s $ease-out-circ);
  .csstransforms & {
    @include transform(translateX(100%));
    right: -2px;
  }
  background: #ffe400;
  color: #343434;
  height: 100%;
  right: -100%;
  padding: 20px 25px;
  position: absolute;
  width: 100%;
  top: 0;
  .opacity & {
    opacity: .95;
  }
  &:hover {
    color: #343434;
  }
  > .project-code {
    display: block;
    font-size: 24px;
    font-family: "Abel", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    position: absolute;
    bottom: 15px;
    right: 25px;
  }
  > .meta {
    display: block;
    font-size: 16px;
  }
}

.project-attribute {
  strong {
    font-weight: normal;
    text-transform: lowercase;
    text-decoration: underline;
  }
  font-size: 16px;
}

.social {
  position: absolute;
  top: 0;
  right: 0;
}

.social-icon {
  height: 25px;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
}

.social-icon.houzz {
  background: #8ac541;
}

body#splash {
  padding: 0;
}

.splash {
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 100%;
  position: relative;
}

@include keyframes (slide) {
  from {
    @include transform(translateX(-100px));
  }
  to {
    @include transform(translateX(0));
  }
}

.splash__link {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 100;
}

.splash-strip {
  @include clearfix;
  color: #e5e5e5;
  font-size: 18px;
  right: 50px;
  position: absolute;
  top: 75px;
  z-index: 5;
  .fork, .brand {
    float: left;
    padding: 5px 10px;
  }
  .fork {
    background: #343434;
    position: relative;
    z-index: 1;
  }
  a {
    color: #e5e5e5;
    padding: 0 10px;
    text-transform: uppercase;
    &.design {
      border-right: 2px solid #e5e5e5;
    }
  }
  > span {
    margin-right: 10px;
  }

  .brand {
    background: #ffe400;
  }

  .slogan {
    background: #343434;
    height: 100%;
    padding: 5px 10px;
    color: #fff;
  }

  img {
    height: 16px;
    position: relative;
    top: -3px;
  }
}

.splash-services {
  color: #fff;
  right: 50px;
  top: 125px;
  position: absolute;
  z-index: 5;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    opacity: 0.5;
    font-size: 18px;
    text-align: right;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #fff;
  }
}

.splash__darken-overlay {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}

.huge-quote {
  font-family: "Georgia";
  font-size: 750px;
  line-height: 1;
  opacity: .1;
  position: absolute;
  right: 10%;
  z-index: 0;
}

.packery .portfolio-thumb {
  margin-bottom: 0 !important;
}

.facility {
  position: relative;

  .neat-col-left {
    @include span-columns(6);
  }
  .packery__stamp {
    @include span-columns(6);
    position: absolute;
    left: 0;
    margin-right: 0;
    font-size: 24px;
    p {
      margin: 0;
    }
  }
  .packery__thumb {
    @include transition(all 0.35s $ease-in-out-quint);
    @include span-columns(6);
    html.opacity & {
      opacity: 0;
    }
  }
  .packery__gutter-sizer {
    width: 2.3576515979%;
  }
}

.services {
  h1 {
    max-width: 80%;
  }
}

.testimonials {
  .neat-col-left {
    @include span-columns(8);
  }
}

.content__press {
  .neat-col {
    @include span-columns(3);
    height: 360px;
    margin-bottom: 30px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.press {
  .neat-col {
    display: none;
    .no-velocity-js & {
      display: block;
    }
  }
}

.press__thumb-image {
  border: 1px solid tint(#000, 95);
  height: 100%;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    background: url('/static/images/noise_lines.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
  }
  img {
    width: 100%;
  }
}

.press__thumb-info {
  .name {
    font-size: 20px;
    margin-top: 0;
  }
  .description {
    font-size: 16px;
    margin-top: 15px;
  }
  > a {
    padding: 5px 10px;
  }
}
